<kendo-window title="Agregar producto" *ngIf="opened" (close)="close()" [minWidth]="250" [width]="450">

<form class="k-form">
  <div class="form-group">
    <label for="">Nombre</label>
    <input type="text" class="form-control" name="nombre" [(ngModel)]="productos.nombre">
  </div>
  <!-- <div class="form-group">
    <label for="">Cantidad</label>
    <input type="text" class="form-control" name="cantidad" [(ngModel)]="productos.Cantidad">
  </div> -->
  <div class="form-group">
    <label for="">Precio</label>
    <input type="text" class="form-control" name="precio" [(ngModel)]="productos.precio">
  </div>
  <div class="text-right">
    <button type="button" class="k-button" (click)="close()">Cancelar</button>
    <button type="button" class="k-button k-primary" *ngIf="button == 'add'" (click)="submit(productos)">Guardar</button>
    <button type="button" class="k-button k-primary" *ngIf="button == 'edit'" (click)="edit(productos)">Guardar</button>
  </div>

</form>
</kendo-window>
