<div class="container">
  <div class="row" class="page-title">
    <h2>Catálogo de productos</h2>
  </div>
<kendo-grid
[kendoGridBinding]="gridData"
[pageSize]="10"
[pageable]="true"
[sortable]="true"
[filterable]="true"
[groupable]="true"
[height]="510"
[loading]="loading"
>
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridPDFCommand icon="file-pdf">Exportar a PDF</button>
    <button style="float: right;" class="k-button" (click)="agregarProducto()" icon="plus">Agregar Producto</button>
</ng-template>
  <kendo-grid-column field="nombre" title="Cerveza" width="250">
  </kendo-grid-column>
  <kendo-grid-column field="precio" title="Precio" width="250">
    <ng-template kendoGridCellTemplate let-dataItem>
      {{dataItem.precio | currency }}
    </ng-template>
  </kendo-grid-column>
  <!-- <kendo-grid-column field="Cantidad" title="Cantidad" width="250">
  </kendo-grid-column> -->
  <kendo-grid-column title="Acciones" width="250">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button (click)="borrar(dataItem)" class="btn" style="background-color: red; color: white;"><i class="fa fa-trash"></i></button>
      <button (click)="editar(dataItem)" class="btn" style="background-color: orange; color: white;"><i class="fa fa-pencil"></i></button>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-pdf fileName="Products.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
    <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
    <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
     <div class="page-template">
        <div class="header">
          <div style="float: right">Página {{ pageNum }} de {{ totalPages }}</div>
        </div>
        <div class="footer">
          Página {{ pageNum }} de {{ totalPages }}
        </div>
      </div>
    </ng-template>
</kendo-grid-pdf>
</kendo-grid>
<app-add-product
[opened]="abrirModal"
(closeWindow)="abrirModal = false"
[data]="itemData"
></app-add-product>
</div>
