/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-drawer-inner-container {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 300px !important;
}
